@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

.Welcome{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: #EAE9EC;
    font-family: 'Vujahday Script', cursive;
    font-size: 100px;
}