@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

.App {
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App::-webkit-scrollbar {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #181A1B;
}

input[type=number]{
  width: 4vh;
  margin: 4px;
}

input[type=text]{
  width: 40vw;
  background-color: #1C1E1F;
  border: 1px solid #444444;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 10px;
  margin: 4px;
}

input[type=text]:focus {
  width: 50vw;
  transition: width 0.4s ease-in-out;
  border: 2px solid #ccc;
}

input[type=number]{
  width: 30px;
  color: #EAE9EC;
  background-color: #1C1E1F;
  border: 1px solid #444444;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 10px;
  margin: 4px;
}

textarea{
  width: 40%;
  background-color: #1C1E1F;
  color: #EAE9EC;
  border: 1px solid #444444;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 4px;
  resize: none;
}

textarea:focus {
  width: 50%;
  transition: width 0.4s ease-in-out;
  border: 2px solid #ccc;
}

.List {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Link {
  cursor: pointer;
}

.RightOverlay {
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: flex;
  flex-flow: column nowrap;
}

.LeftOverlay {
  position: fixed;
  bottom: 2em;
  left: 2em;
  display: flex;
  flex-flow: column nowrap;
}

.OverlayButton {
  color: white;
  background-color: rgba(63, 61, 57, 0.29);
  border: #ff8510 solid 1px;
  margin: 5px;
  padding: 7px 15px;
  border-radius: 7px;
}

.AddButton{
  border: none;
  background: none;
  border-radius: 360px;
  color: #EAE9EC;
}

.DeleteButton{
  color: red;
  background-color: rgba(63, 61, 57, 0.29);
  border: #720808 solid 1px;
  margin: 30px;
  padding: 7px 15px;
  border-radius: 7px;
}

.Button{
  color: white;
  background-color: #282828;
  border: none;
  margin: 5px;
  padding: 7px 15px;
  border-radius: 7px;
}