.App  {
    background-color: black;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.App::-webkit-scrollbar {
    display: none;
}

.Title{
    color: #EAE9EC;
    font-size: 20px;
    font-family: 'Vujahday Script', cursive;
}