@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

.Song{
    width: 30vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 15px;
}